<section >
<table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Item</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
      <%= render @line_items %>
      </tbody>
      </table>
</section>
